# Getting familiar with the data

## Import libraries

In [1]:
import pandas as pd
import pathlib

## Set environment variables

In [2]:
DATA_DIR = pathlib.Path('../Coding Challenge - Data(20221128)')
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', None)

## Load raw data

In [3]:
stores_df = pd.read_csv(DATA_DIR / 'stores.csv')
transactions_df = pd.read_csv(DATA_DIR / 'transactions.csv')
users_df = pd.read_csv(DATA_DIR / 'users.csv')

print("Stores")
print(stores_df.head())
print("\nTransactions")
print(transactions_df.head())
print("\nUsers")
print(users_df.head())

Stores
                                     id        nam       laa category        lat         lon
0  139a9a4b-1cb4-cb91-f718-d0bdd7db31c9  Aichi Ken  Agui Cho   ショッピング  34.951439  136.935126
1  437e0dae-dbf7-b1a8-4a03-010b9597bbd2  Aichi Ken  Agui Cho    マッサージ  34.947078  136.884972
2  2deb0ff0-5909-c169-4a23-4ed3979467fc  Aichi Ken  Agui Cho      その他  34.926083  136.928418
3  093585a3-96ce-7513-4d60-1dd36c4b30d2  Aichi Ken  Agui Cho      カフェ  34.952815  136.889037
4  d0637fde-e4c8-4c60-5817-a3494a623a6f  Aichi Ken  Agui Cho      グルメ  34.922963  136.892997

Transactions
                                     id                               user_id                              store_id            event_occurrence  amount
0  a555eb55-1da4-6087-b5ab-06b35b608002  93098549-3ff0-e579-01c3-df9183278f64  a3c7874b-75df-9cf2-62ab-cf58be5d9e0e  2020-01-01 06:40:43.323987     315
1  f699b867-e70c-5160-90c8-7dfa32dce0da  35ba9da1-98d0-cbb7-7844-e648601b7208  1d59adf3-94f2-f5f8-46c6-8558c544a3a9  2020-01-01 07:04:25.968615    1646
2  5c3f8abc-f4e6-94fd-7b13-fe0efd4e4591  63cb5ee0-a457-9975-5455-4d76109bc754  c835f09d-ac5b-2005-1959-f452456a746a  2020-01-01 07:06:16.164563     385
3  f033da1a-bafb-5faa-67e3-c76b07b04333  786fcb82-40cf-1dc9-b9ba-2541502ca95a  eaf4c05d-13e1-7c8a-9ae0-cf2ec2e3dcd2  2020-01-01 07:07:26.029685     166
4  ccc35ffe-ee42-b696-783c-6670bfd800ec  acc814f5-beb6-db35-64f1-52f7c5a8466c  a8301ae2-df3b-ffe4-0279-c74af1dbb847  2020-01-01 07:12:24.448015     656

Users
                                     id gender   age
0  3cf2d95c-851a-3e66-bd62-36050c1aa8dd      M  30.0
1  a85536f3-1bf8-fbeb-d06e-62e6dc5a2a83      M  55.0
2  355a293c-2c15-d6bd-45ce-cd3c275ee5a9      M  40.0
3  61fb5b45-9bf8-1659-7a0c-b6f85a0f870b    NaN   NaN
4  ff9e16ef-3a0b-9373-567f-fb07cbc96874      M  90.0

## Prepared data
### Marge dataframes to one, drop id columns

In [4]:
# merge transactions and users
dataframe = transactions_df.merge(users_df, left_on='user_id', right_on='id', how='left').merge(
    stores_df, left_on='store_id', right_on='id', how='left').drop(columns=['id_x','id_y','id','user_id','store_id'])
dataframe.head()

             event_occurrence  amount gender   age            nam           laa   category        lat         lon
0  2020-01-01 06:40:43.323987     315      M  88.0    Saitama Ken      Soka Shi       コンビニ  35.830649  139.809781
1  2020-01-01 07:04:25.968615    1646      M  44.0      Gunma Ken     Meiwa Cho     ショッピング  36.216801  139.562541
2  2020-01-01 07:06:16.164563     385      M  16.0  Hiroshima Ken  Fukuyama Shi       コンビニ  34.642260  133.257595
3  2020-01-01 07:07:26.029685     166      F  79.0       Tokyo To     Nerima Ku        グルメ  35.762485  139.661923
4  2020-01-01 07:12:24.448015     656      F  79.0       Tokyo To    Edogawa Ku  スーパーマーケット  35.692503  139.863613

### Get basic information about data

In [5]:
# Get basic information about the dataframe
print(dataframe.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1582260 entries, 0 to 1582259
Data columns (total 9 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   event_occurrence  1582260 non-null  object
 1   amount            1582260 non-null  int64
 2   gender            1421978 non-null  object
 3   age               1505614 non-null  float64
 4   nam               1582260 non-null  object
 5   laa               1582260 non-null  object
 6   category          1582260 non-null  object
 7   lat               1582260 non-null  float64
 8   lon               1582260 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 120.7+ MB
None

In [6]:
# Get the number of unique values in each column
print("UNIQUE")
column_uniques = dataframe.nunique()
print(column_uniques)
# Get the number of missing values in each column
print("\nMISSING")
print(dataframe.isna().sum())

UNIQUE
event_occurrence    1582259
amount                25888
gender                    3
age                      76
nam                      47
laa                    1646
category                 16
lat                   95460
lon                   95460
dtype: int64

MISSING
event_occurrence         0
amount                   0
gender              160282
age                  76646
nam                      0
laa                      0
category                 0
lat                      0
lon                      0
dtype: int64

In [7]:
# Get categorical columns
category_columns = dataframe.select_dtypes(include=['object']).columns
# Get distinct values in each categorical column
for column in category_columns:
    unique_values = dataframe[column].unique()
    print(f"{column}[{len(unique_values)}]: {unique_values}")

event_occurrence[1582259]: ['2020-01-01 06:40:43.323987' '2020-01-01 07:04:25.968615'
 '2020-01-01 07:06:16.164563' ... '2021-12-31 16:54:20.392210'
 '2021-12-31 17:04:31.609495' '2021-12-31 17:09:49.237044']
gender[4]: ['M' 'F' nan 'OTHER']
nam[47]: ['Saitama Ken' 'Gunma Ken' 'Hiroshima Ken' 'Tokyo To' 'Kagoshima Ken'
 'Ehime Ken' 'Chiba Ken' 'Fukushima Ken' 'Kyoto Fu' 'Kanagawa Ken'
 'Wakayama Ken' 'Gifu Ken' 'Mie Ken' 'Osaka Fu' 'Hyogo Ken' 'Niigata Ken'
 'Hokkai Do' 'Ishikawa Ken' 'Aichi Ken' 'Kochi Ken' 'Okayama Ken'
 'Miyagi Ken' 'Shizuoka Ken' 'Nara Ken' 'Fukui Ken' 'Fukuoka Ken'
 'Shiga Ken' 'Ibaraki Ken' 'Nagano Ken' 'Toyama Ken' 'Oita Ken'
 'Iwate Ken' 'Tottori Ken' 'Kumamoto Ken' 'Yamanashi Ken' 'Yamagata Ken'
 'Nagasaki Ken' 'Tochigi Ken' 'Yamaguchi Ken' 'Aomori Ken' 'Miyazaki Ken'
 'Shimane Ken' 'Saga Ken' 'Tokushima Ken' 'Kagawa Ken' 'Akita Ken'
 'Okinawa Ken']
laa[1646]: ['Soka Shi' 'Meiwa Cho' 'Fukuyama Shi' ... 'Furubira Cho' 'Rebun Cho'
 'Yamae Mura']
category[16]: ['コンビニ' 'ショッピング' 'グルメ' 'スーパーマーケット' 'ホテル・旅館' 'カフェ' 'エンタメ' 'マッサージ'
 'ドラッグストア・薬局' 'その他' '美容院・サロン' 'ファッション' '百貨店・ショッピングセンター' '家電・携帯電話' 'クリーニング'
 '病院・クリニック']

## Convert datatypes

In [8]:
# Convert date columns to datetime
dataframe['event_occurrence'] = pd.to_datetime(dataframe['event_occurrence'])
# Convert categorical columns to category
category_columns = ['gender', 'category', 'nam', 'laa']
for column in category_columns:
    dataframe[column] = dataframe[column].astype('category')
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1582260 entries, 0 to 1582259
Data columns (total 9 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   event_occurrence  1582260 non-null  datetime64[ns]
 1   amount            1582260 non-null  int64
 2   gender            1421978 non-null  category
 3   age               1505614 non-null  float64
 4   nam               1582260 non-null  category
 5   laa               1582260 non-null  category
 6   category          1582260 non-null  category
 7   lat               1582260 non-null  float64
 8   lon               1582260 non-null  float64
dtypes: category(4), datetime64[ns](1), float64(3), int64(1)
memory usage: 80.1 MB